{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>

<!DOCTYPE HTML>
<html>
<head>
    <title>关于我 — 一个站在java开发之路上的草根程序员个人博客网站</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="个人博客,王风宇个人博客,个人博客系统,老王博客,王风宇">
    <meta name="description" content="Lao王博客系统，一个站在java开发之路上的草根程序员个人博客网站。">
    <LINK rel="Bookmark" href="../../static/favicon.ico">
    <LINK rel="Shortcut Icon" href="../../static/favicon.ico"/>
    <!--[if lt IE 9]>
<script type="text/javascript" src="/staticRes/js/html5shiv.js"></script>
<script type="text/javascript" src="/staticRes/js/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="../../static/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/plugin/Hui-iconfont/1.0.8/iconfont.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/plugin/pifu/pifu.css"/>
    <!--[if lt IE 9]>
<link href="/staticRes/lib/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    function showSide() {
        $('.navbar-nav').toggle();
    }</script>
</head>
<body>

<!--导航条-->
{% include "blog/navbar.html" %}

<!--导航条-->
<nav class="breadcrumb">
    <div class="container"><i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a> <span
            class="c-gray en">&gt;</span> <span class="c-gray">关于</span></div>
</nav>


<section class="container">
    <div class="container-fluid">
        <div class="about">
            <h2>Just about me</h2>
            {% if about_list %}
                <ul>
                    {% for about in about_list %}
                        <ul>
                            <p>{{ about.about_me }}</p>
                        </ul>
                        <h2>About my blog</h2>
                        {% load blog_debug %}
                        {% load blog_linebreaksbr %}

                        {{ about.about_my_blog|blog_linebreaksbr }}
                        </ul>
                        <br/>
                        <h2>Contact me</h2>
                        <ul>
                            <p><i class="Hui-iconfont">&#xe67b;</i>qq : {{ about.qq }}</p>
                            <p><i class="Hui-iconfont">&#xe6d1;</i>git：<a href="#" class="blog_link">{{ about.git }}</a>
                            </p>
                            <p><i class="Hui-iconfont">&#xe63b;</i>email : <a class="blog_link"
                                                                              href="#">{{ about.email }}</a>
                            </p>
                        </ul>
                    {% endfor %}
            {% else %}
                <ul>
                    <p>这个博主很懒，什么都没留下……</p>
                </ul>
            {% endif %}
        </div>

    </div>
</section>
<footer class="footer mt-20">
    <div class="container-fluid" id="foot">
        <p>Copyright &copy; 2016-2017 www.wfyvv.com <br>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">皖ICP备17002922号</a><br>
        </p>
    </div>
</footer>
<script type="text/javascript" src="../../static/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../static/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="../../static/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../../static/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="../../static/js/common.js"></script>
<script> $(function () {
    $(window).on("scroll", backToTopFun);
    backToTopFun();
}); </script>
</body>
</html>
